.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 80px 170px;
}

.about-title {
  position: relative;
  
}

.about-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
  text-align: center;
}

.about-title img {
position: absolute;
bottom: 0;
right: 0;
z-index: -1;

}
.about-section {
  display: flex;
  gap: 80px;
}
.about-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}

.about-skill p {
  min-width: 300px;
  font-size: 24px;
  font-weight: 500;
}

.about-skill hr {
  outline: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
}

.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}

.about-achievment{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: 0.5s;
}

.about-achievment h1 {
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
