.my-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mywork-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

.mywork-title {
  position: relative;
  margin-bottom: 50px;
}

.mywork-title img {
  position: absolute;

  bottom: 0;
  right: 0;

  z-index: -1;
}

.work-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 40px;
  margin-top: 100px;
}

.work-card img {
  box-sizing: border-box;

  transition: 0.2s;
  cursor: pointer;
}
.work-card img:hover {
  transform: scale(1.1);
  border: 4px solid #ff00ff;
  border-radius: 15px;
  transition: 0.2s;
}

.show-button {
  background-color: transparent;
  color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;

  border: 2px solid #fff;
}
.icon-img {
  display: flex;
  align-items: center;
}

.icon {
  width: 18px;
  height: 18px;
}

.mywork-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 70px;
}
